<a href="https://colab.research.google.com/github/Lizidze/python-for-big-data-and-big-data-science/blob/master/python_practice_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# I. Змінні та памʼять.

1. Створити змінні, що посилаються на два цілих числа, що однакові за значенням, де значення належить проміжку від -5 до 256. Перевірте, чи будуть ці змінні рівні тільки за значенням або ж ще будуть посилатися на один і той самий обʼєкт в памʼяті? Наведіть код та дайте текстову відповідь нижче.

In [1]:
number_1 = 53
number_2 = 53
print(number_1 == number_2)
id(number_1), id(number_2)

True

(10752520, 10752520)

Посилаються на один і той самий об'єкт у пам'яті. Айді однакові, бо числа належать проміжку від -5 до 256.

2. За допомогою якої функції можна перевірити належність змінної до вказаного типу даних (напр. чи змінна True посилається на значення булевого та цілочисленого типу)?

In [ ]:
isinstance()

# II. Цілі числа та числа з рухомою комою

3. Створити дві змінні, що посилаються на будь-які ціле число та число з рухомою комою та продемонструвати такі арифметичні операції: додавання, віднімання, ділення, множення, ділення без залишку, ділення по модулю, приведення до ступеню. Всі результати операцій вивести на екран.

In [9]:
num1 = 5
num2 = 3.5
print (num1 + num2)
print (num1 - num2)
print (num1/num2)
print (num1*num2)
print(num1 // num2)
print(num1 % num2)
print(num1 ** num2)

8.5
1.5
1.4285714285714286
17.5
1.0
1.5
279.5084971874737

4. Використовуючи змінні з вправи 3, продемонструйте механізм явного перетворення типів, де числа з рухомою комою перетворюються на цілі числа. Також визначте змінну, що посилається на значення булевого типу і спробуйте явно привести її до цілого числа.

In [31]:
num1 = 5
num2 = 3.5
num2_int = int(num2)
print(num2_int)
bool = True
bool_to_int = int(bool)
print(bool_to_int)

3
1

# IІІ. Рядки (String).

5. Створити пустий рядок двома різними способами.

In [1]:
empty_str1 = str()
empty_str2 = ""
str()

''

6. Створити рядок з апострофом. Зробити його сирим. Вивести обидва рядка на екран.

In [7]:
str_apostrof = 'It\'s a beautiful day'
raw_string = r'It\'s a beautiful day'
print(str_apostrof)
print(raw_string)

It's a beautiful day
It\'s a beautiful day

7. Створити змінну, що буде посилатися на Ваше прізвище латинкою. Створити форматований рядок, який буде мати вигляд "My surname is ______", де на місці нижніх підкреслень буде Ваше прізвище зі змінної.

In [47]:
surname = "Zelenko"
formatted_string = f"My surname is {surname}."
print(formatted_string)

My surname is Zelenko.

8. Маючи рядок "My dog is crazy." перетворити його на список ["my", "dog", "is", "crazy"]

In [48]:
sentence = "My dog is crazy."
word_list = sentence.lower().strip(".").split()
print(word_list)

['my', 'dog', 'is', 'crazy']

# IV. Робота зі списками.

9. Створити список двома різними за синтаксисом способами. За допомогою вбудованої функції обчисліть довжину одного з них.

In [49]:
list1 = [1, 2, 3, 4, 5]
list2 = list((6, 7, 8, 9, 10))
length = len(list1)
print(length)

5

10. Створіть два списка та за допомогою спеціального методу додайте другий з них в якості останнього елемента першого.

In [50]:
list1 = [1, 2, 3]
list2 = [4, 5, 6]
list1.append(list2)
print(list1)

[1, 2, 3, [4, 5, 6]]

11. Створіть список, де елементами цього списку також є списки. Отримай перший елемент з останнього рядка та виведи значення на екран.

In [57]:
list = [[1, 2, 3],[4, 5, 6],[7, 8, 9]]
print(list[-1][0])

7

12. Створіть список з десяти елементів різного типу. Отримайте всі елементи, окрім двох перших та двох останніх та збережіть їх в новій змінній.

In [ ]:
mixed_list = [1, "hello", 3.5, True, [5, 6], None, {"a": 7}, (8, 9), 10, "world"]

# V. Робота з кортежами.

14. Створити кортеж з один елементом.

In [63]:
tuple = (42, )

print(tuple)

(42,)

15. Порівняйте список та кортеж. Назвіть схожості та відмінності, випадки використання.

Рядки використовують щоб зберігати впорядковані значення різних типів. Для кортежів обов'язкова кома. Кортежі використовують для однотипних елементів. Можуть містити дублікати. Списки змінні, коретжі - ні. Кортежі швидше, бо незмінні, списки змінні і пайтону треба більше працювати з пам'яттю.

16. Створіть кортеж з 11ти елементів чисел з рухомою комою та отримайте кожен парний за індексом елемент в зворотньому порядку. Наприклад, маючи (1.2, 2.3, 3.3, 4.3, 5.3, 6.3, 7.3, 8.3, 9.3, 0.3), отримати (0.3, 8.3, 6.3, 4.3, 2.3). Результат збережіть в нову змінну та виведіть на екран.

In [64]:
float_tuple = (1.2, 2.3, 3.3, 4.3, 5.3, 6.3, 7.3, 8.3, 9.3, 0.3, 11.3)
reversed = float_tuple[-2::-2]
print(reversed)

(0.3, 8.3, 6.3, 4.3, 2.3)

# VI. Множини (Set).

17. Створити множину без елементів. Після цого за допомогою методу додайте кілька різних елементів до множини. Чи множини є змінним типом даних?

In [8]:
my_set = set()

my_set.add(5)
my_set.add("hello")
my_set.add(3.14)

print(my_set)

{'hello', 3.14, 5}

Множини - змінний тип данних.

18. Створити множину, маючи список my_list = [1, 1, 2, 67, 67, 8, 9]. Пояснити, чому "зникли" деякі елементи.

In [14]:
my_list = [1, 1, 2, 67, 67, 8, 9]
my_set = set(my_list)
print(my_set)

{1, 2, 67, 8, 9}

Множини зберігають унікальні і однотипні об'єкти

19. Створіть дві множини. Продемонстуйте над ними операції: обʼєднання, різниці, пересічі та симетричної різниці. Використовуйте методи, що не змінюють множини, а створюють нові.

In [16]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

union_set = set1.union(set2)
print(union_set)

intersection_set = set1.intersection(set2)
print(intersection_set)

difference_set = set1.difference(set2)
print(difference_set)

symmetric_difference_set = set1.symmetric_difference(set2)
print(symmetric_difference_set)

{1, 2, 3, 4, 5, 6, 7, 8}
{4, 5}
{1, 2, 3}
{1, 2, 3, 6, 7, 8}

# VII. Словники (Dictionary).

20. Створіть пустий словник. До нього додайте чотири пари елементів такі, щоб їхні ключі були різних типів. Чи може список бути ключем? Чому?

In [17]:
 my_dict = {}
 my_dict = {(1, 2): [], 5: "aBOBA", True: 3.14, "Bbe": 45}
 print(my_dict)

{(1, 2): [], 5: 'aBOBA', True: 3.14, 'Bbe': 45}

Список не може бути ключем бо це змінний тип данних

21. Створіть словник, де значенням в одній з пар теж буде словник, який теж має вкладений словник. Виведіть на екран значення, що міститься в словнику, що знаходиться на найнижчому рівні ієрархії вкладеності (найбільш внутрішній).

In [18]:
nested_dict = {"1": {"2": {"3": "ООО"}}}

deepest_value = nested_dict["1"]["2"]["3"]

print(deepest_value)

ООО

# Вітаю! Ви велика(ий) молодець, що впоралась(вся). Похваліть себе та побалуйте чимось приємним. Я Вами пишаюся.